<div class="d-flex flex-column gap-3 bg-dark text-white vh-100 text-center p-3" style="width: 250px;">
    <div class="text-center py-4">
        <img src="../public/images/logo.png" alt="Logo" class="rounded-circle" style="width: 120px; height: 120px;">
    </div>

    <hr class="text-white mx-3">

    <nav class="nav flex-column px-3 d-flex flex-column" style="height: 100vh;">
        <a href="/home" class="nav-link text-white">Inicio</a>
        <a href="/mensajes" class="nav-link text-white">Mensajes</a>
        <a href="/teams" class="nav-link text-white">Equipo</a>
        <a href="#" class="nav-link text-white">Tareas</a>
        <a href="#" class="nav-link text-white mt-5 mb-5">Perfil</a>
        <div class="mt-auto"> 
            <button type="submit" id="logout" class="btn btn-danger btn-sm b">Adios!</button>
        </div>
    </nav>
</div>